body {
	background-color:white;
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center;
	text-align: center;
  }
  
  h1 {
	color: rgb(71, 71, 71);
	font-size: 50px;
  }


#react-root {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: darken(white, 20%);
}